<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "CustomUserApp/CSS/CustomUserApp.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav">
          <a class="nav-link" href="{% url 'IndexPage' %}" >Index</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" ariaexpanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CustomUserApp:RegistrationPage'%}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CustomUserApp:DisplayUsersPage'%}">DisplayUsers</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'CustomUserApp:Logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'CustomUserApp:LoginPage' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav><br>
    <div class="container">
      {% block independent_content %}
      {% endblock %}
    </div>
  </body>
</html>
